/* All elements */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
/* body */
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-template-rows: 80px 80px auto 80px auto auto;
}

/* header & nav*/
header {
    background-color: #ffce00;
    overflow: hidden;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    margin: 5px;
    text-decoration: none;
    color: black;
    padding: 1.5rem;
    font-weight: 700;
    transition: all .35s ease;
}

nav a:hover, #header-btn-experience {
    color: white;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #ffce00;
    width: 100vw;
    grid-template-columns: 4fr 4fr;
    align-items: center;
    margin: auto;
}

nav svg {
    height: 75px;
    width: auto;
    padding: 2.5px;
}

/* main */

main {
    display: flex;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-content: center;
}

#view-card{
    display: flex;
}

#view-card img {
    width:467.5px;
    height: 25.6rem;
}
/* article */
#view-card article {
    background-color: #ffce00;
    padding-left: 6rem;
    height: 25.6rem;
    width: 22rem;
}

article h1 {
    font-weight: 400;
    font-size: 35px;
    padding-bottom: .3rem;
}

article h2 {
    font-weight: 300;
    font-size: x-large;
    /* padding-left: 15px; */
    padding-bottom: .1rem;
}

article h3 {
    font-weight: 100;
    /* padding-left: 30px; */
    padding-bottom: .5rem;
}

#article-education {
    padding-top: 3rem;
}

#article-experience {
    padding-top: .5rem;
}

@media (max-width: 1000px) {
    #view-card {
        flex-direction: column;
    }
    #view-card article {
        margin-top: 80px;
        width: 23.2rem;
    }
    nav svg {
        opacity: 0;
        width: 0;
    }
    nav {
        justify-content: center;
    }
    body {
        grid-template-columns: 0px auto 0px;
    }
}

/* footer */
footer {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    background-color: black;
    height: 230px;
    /* justify-content: center;
    align-items: center; */
    grid-template-columns: 1fr 230px 230px 1fr;
    grid-template-rows: 50px 1fr 1fr 80px;
}

#github {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: 50%;
    padding-right: 0%;
}

#linkedin {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin-left: 20%;
    padding-right: 0%;
}

footer h1 {
    color: white;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    font-weight: 200;
    margin-top: 2rem;
    margin-left: 6rem;
}
